<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />

        <title>Create Product</title>
    </head>
    <body>
        <header class="b-header d-flex justify-content-center">
            <nav class="b-header__nav d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between">
                    <h3><a class="b-header__link" href="/">Inicio</a></h3>
                    <h3><a class="b-header__link" href="/products">Productos</a></h3>
                    <h3><a class="b-header__link" href="/orders">Pedidos</a></h3>
                    <h3><a class="b-header__link" href="/users">Usuarios</a></h3>
                </div>
                <div class="b-header__user-auth d-flex justify-content-between align-items-center">
                    {{#if user}}
                        <form
                            class="b-header__logout d-flex align-items-center justify-content-center"
                            action="/auth/logout"
                            method="post"
                        >
                            <input class="b-header__button" type="submit" value="Logout" />
                        </form>
                    {{else}}
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/login"
                            >Login</a></h3>
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/register"
                            >Registro</a></h3>
                    {{/if}}
                </div>

            </nav>
        </header>
        <main class="b-main">

            <h1 class="b-text__title">Crear Producto</h1>

            <form action="/products/create" method="POST">

                <div>
                    <label>Nombre</label>
                    <input name="name" type="text" required placeholder="Nombre" />
                </div>

                <div>
                    <label>Precio</label>
                    <input name="price" type="text" required placeholder="Precio" />
                </div>
                <div>
                    <label>Email</label>
                    <textarea name="description" required placeholder="Descripción"></textarea>
                </div>
                <div>
                    <label>Tipo</label>
                    <input name="type" type="text" required placeholder="Tipo (pc-tower, laptop)" />
                </div>
                <div>
                    <label>Procesador</label>
                    <input name="processor" type="text" placeholder="Procesador" />
                </div>

                <div>
                    <label>Memória</label>
                    <input name="memory" type="text" placeholder="memória" />
                </div>
                <div>
                    <label>GPU</label>
                    <input name="gpu" type="text" placeholder="GPU" />
                </div>
                <div>
                    <label>SSD</label>
                    <input name="ssd" type="text" placeholder="SSD" />
                </div>
                <div>
                    <label>HDD</label>
                    <input name="hdd" type="text" placeholder="HDD" />
                </div>
                <div>
                    <label>Valoración</label>
                    <input name="stars" type="text" placeholder="Valoración" />
                </div>
                <div>
                    <label>Imagen</label>
                    <input name="image" type="text" required placeholder="Imagen" />
                </div>
                <div>
                    <label>Stock</label>
                    <input name="stock" type="text" required placeholder="Stock" />
                </div>

                <div>
                    <button type="submit">Registrarme</button>
                </div>
            </form>
        </main>
    </body>
</html>