<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=h1, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <title>Login</title>
    </head>

    <body>
        <header class="b-header d-flex justify-content-center">
            <nav class="b-header__nav d-flex justify-content-between align-items-center">

                {{#if isAdmin}}
                    <a class="b-header__admin b-header__link--user" href="/admin">Admin Options</a>
                {{/if}}

                <div class="d-flex justify-content-between">
                    <h3><a class="b-header__link" href="/">Inicio</a></h3>
                    <h3><a class="b-header__link" href="/products/shop">Tienda</a></h3>
                </div>
                <div class="b-header__user-auth d-flex justify-content-between align-items-center">
                    <h3><a class="b-header__link b-header__link--cart" href="/cart">Cesta</a></h3>
                    {{#if user}}
                        <form
                            class="b-header__logout d-flex align-items-center justify-content-center"
                            action="/auth/logout"
                            method="post"
                        >
                            <input class="b-header__button" type="submit" value="Logout" />
                        </form>
                    {{else}}
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/login"
                            >Login</a></h3>
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/register"
                            >Registro</a></h3>
                    {{/if}}
                </div>

            </nav>
        </header>
        <main class="b-main">
            <h1 class="b-text__title">Login</h1>

            <form
                class="b-form d-flex justify-content-between align-items-center flex-column"
                action="/auth/login"
                method="POST"
            >

                <div class="b-form__field d-flex align-items-center justify-content-between">
                    <label>Email</label>
                    <input
                        class="b-form__input"
                        name="email"
                        type="email"
                        required
                        placeholder="Email"
                    />
                </div>
                <div class="b-form__field d-flex align-items-center justify-content-between">
                    <label>Contraseña</label>
                    <input
                        class="b-form__input"
                        name="password"
                        type="password"
                        required
                        placeholder="Password"
                    />
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </main>

    </body>

</html>