.b-sidebar {
    padding-top: 150px;
    width: 200px;
    height: 100vh;

    &__block {
        margin-bottom: 20px;
        list-style: none;

        li:first-child {
            margin-top: 10px;
        }
    }

    &__block-title {
        font-size: 18px;
    }

    &__element {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: var(--color-text);

        &:hover {
            text-decoration: underline;
        }
    }
}
