:root {
    --color-background: #e0ded9;
    --color-text-active: #000000;
    --color-text: #102d77;
    --color-light-blue: #bbceff;
    --color-blue: #6392ff;
    --color-dark-blue: #155bfc;
    --color-red: rgb(107, 0, 0);
}
