:root {
    --color-background: #e0ded9;
    --color-text-active: #000000;
    --color-text: #102d77;
    --color-light-blue: #bbceff;
    --color-blue: #6392ff;
    --color-dark-blue: #155bfc;
    --color-light-yellow: #ffe6b3;
    --color-yellow: #ffc551;
    --color-dark-yellow: #ffaa00;
}
